<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.gudi.dao.BoardDAO">

	<select id="list" resultType="kr.co.gudi.dto.BoardDTO">
		SELECT idx,subject,user_name,bHit,reg_date FROM bbs ORDER BY idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="count" resultType="int">
		SELECT CEIL(COUNT(idx)/#{param1}) AS pages FROM bbs
	</select>
	
	<select id="detail" resultType="kr.co.gudi.dto.BoardDTO">
		SELECT * FROM bbs WHERE idx = #{param1};
	</select>
	
	<update id="bHit">
		UPDATE bbs SET bHit=bHit+1 WHERE idx=#{param1}
	</update>
	
	<select id="files" resultType="kr.co.gudi.dto.FilesDTO">
		SELECT * FROM files WHERE idx=#{param1}
	</select>
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="idx"
		keyProperty="idx"	
	
	id="write" parameterType="kr.co.gudi.dto.BoardDTO">
		INSERT INTO bbs(user_name,subject,content) 
			VALUES(#{user_name}, #{subject},#{content})
	</insert>
	
	
	<insert id="fileWrite">
		INSERT INTO files(new_filename, ori_filename, idx)
			VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<delete id="del">
		DELETE FROM bbs WHERE idx = #{param1}
	</delete>
	
	
</mapper>