<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="ko.co.gudi.dao.MemberDAO">

	<insert id="join" parameterType="map">
		INSERT INTO member(id,pw,name,age,gender,email)
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
	</insert>
	
	<select id="login" resultType="String">
		SELECT id FROM member WHERE id = #{param1} AND pw = #{param2}
	</select>
	
	<select id="list" resultType="ko.co.gudi.dto.MemberDTO">
		SELECT id, name, age FROM member
	</select>
	
	<select id="detail" resultType="ko.co.gudi.dto.MemberDTO">
		SELECT * FROM member WHERE id = #{param1}
	</select>
	
	<delete id="del">
		DELETE FROM member WHERE id = #{param1}
	</delete>


</mapper>
