<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.gudi.mapper.MemberMapper">

	<!-- 로그인 -->
	<select id="login" resultType="int">
		SELECT COUNT(id) FROM member WHERE id = #{param1} AND pw = #{param2}
	</select>
	
	<!-- 회원 가입 -->
	<select id="checkId" resultType="int">
		SELECT COUNT(id) FROM member WHERE id = #{param1}
	</select>
	
	<insert id="join" parameterType="map">
		INSERT INTO member (id, pw, name, age, gender, email)
			VALUES (#{id}, #{pw}, #{name}, #{age}, #{gender}, #{email})
	</insert>

</mapper>