<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.gudi.dao.BoardDAO">

	<select id="list" resultType="kr.co.gudi.dto.BoardDTO">
		SELECT idx,subject,user_name,bHit,reg_date FROM bbs
  			ORDER BY idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalPage" resultType="int">
		SELECT CEIL(COUNT(idx)/#{param1}) AS allpage FROM bbs
	</select>

</mapper>