<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.gudi.dao.BoardDAO">

	<select id="list" resultType="kr.co.gudi.dto.BoardDTO">
		SELECT idx, user_name, subject, bHit, reg_date FROM bbs ORDER BY idx DESC
	</select>
	
	<select id="detail" resultType="kr.co.gudi.dto.BoardDTO">
		SELECT * FROM bbs WHERE idx2 = #{param1}
	</select>

	
	<delete id="del" parameterType="int">
		DELETE FROM bbs WHERE idx = #{idx}
	</delete>
	
	<insert id="write" parameterType="map">
		INSERT INTO bbs(user_name, subject, content) VALUES(#{user_name},#{subject},#{content})
	</insert>
	
	<update id="upHit">
		UPDATE bbs SET bHit = bHit + 1 WHERE idx = #{param1}
	</update>
	
	<update id="update" parameterType="map">
		UPDATE bbs SET subject = #{subject}, content = #{content} WHERE idx = #{idx}
	</update>
	
	<!-- <update id="upload" parameterType="map">
		UPDATE member SET subject = #{param1}, content = #{param2}, user_name = #{param3}
	</update>  -->
	
	<!-- <update id="hit">
		UPDATE bbs SET bHit = bHit + 1 WHERE idx = #{param1}
	</update> -->

</mapper>